<h2 id="title">MFZ</h2>
<ul>
  <li>{{#link-to 'companies'}}Companies{{/link-to}}</li>
  <li>{{#link-to 'loadouts'}}Loadouts{{/link-to}}</li>
  <li>{{#link-to 'frames'}}Frames{{/link-to}}</li>
  <li>{{#link-to 'games'}}Games{{/link-to}}</li>
</ul>
<div class="c-notification__container notifications-container">
  {{#each notifications as |notification|}}
    {{notification-message notification=notification}}
  {{/each}}
</div>
{{outlet}}
